!!!
%html
  %head
    %title Bootstrap
    %link{:href => '/assets/site.css', :rel => 'stylesheet', :type=>"text/css"}
    %script{:src => '/assets/application.js', :type=>"text/javascript"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand Mon 7 Bootstrap
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li.dropdown
                %a.dropdown-toggle{:href => "#"} Dropdown
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Secondary link
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Another link
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle{:href => "#", :'data-toggle'=> :dropdown}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Secondary link
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Another link
    .container
      !=yield
    %footer.footer
      .container
        .pull-right
          %p 
            Utvecklat av 
            %a{:href=>'http://www.mon7.se/'} Mon 7 Consulting AB
