/*
 *=require twitter-bootstrap/css/bootstrap.css
 */

body {
  padding-top: 60px;
}
body, label, input, select, textarea {
  font-family: 'Droid sans', 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.topbar {
  box-shadow: -2px 3px 7px rgba(0,0,0,.5);
}
.topbar input {
  font-family: inherit;
}

.footer {
  padding: 10px;
}

@media print {
  .hidden-print { display: none; }
  .navbar { display: none; }
}

@media screen {
  .hidden-screen { display: none; }
}
